In [286]:
import numpy as np
from scipy.optimize import minimize
import pandas as pd

In [216]:
#stockPool is a huge array, good memory??

stockPool = np.random.random((100,8192))

In [785]:
class portfolio:
    
    def __init__(self,name,size):
        self.stocks = np.random.choice(np.arange(20), size=size, replace=False)
        self.weights = dict.fromkeys(self.stocks,0) #init with a sharpe function, put in dictionary for easy change
        self.orders = np.zeros(size)
        self.portfID = str(name)
    
    def order(self, time, opt):
        """
        returns the orders to be added to the broker dataframe
        immediately adjusts weights for sold stocks
        """
        self.orders = np.asarray(opt) - list(self.weights.values())
        orderList = pd.DataFrame({'time':time, "portfolio":self.portfID,"stock":self.stocks, "order": self.orders})
        
        # update weights that have been sent off
        i = 0
        for stock,weight in self.weights.items():
            if self.orders[i]<0:
                self.weights[stock] = weight + self.orders[i]
            i+=1
        return orderList
    
    def buy(self,stock,volume):
        """
        adjust recently bought stocks
        """
        
        print(self.weights)
        self.weights[stock] = self.weights[stock] + volume
        print(self.weights)

In [219]:
def sharpe(weights,stocks, time):
    """
    Input the stock ID numbers and calculate the sharpe ratio based on time
    """
    Rp = 0
    Rf = 0.001
    var = 0
    for i,j in enumerate(stocks): 
        Rp += weights[i]*np.mean(stockPool[j][:time]) #expected return up to point in time
        var += weights[i]*weights[i]*np.var(stockPool[j][:time]) #variance return up to point in time
    stdp = np.sqrt(var)
    
    return -(Rp-Rf)/stdp

In [224]:
#opt= minimize(sharpe, a.weights, args=(a.stocks,6), method='Nelder-Mead', tol=1e-6)['x'] 
# minimize from steady state based on fBM

In [817]:
# to generate overlapping portfolios, scan through the stock list with various overlapping amounts. 
# for trades, generate an order book for each portfolio with the stocks they want to buy or sell, these are
# then matched to the closest order from another portfolio, a trade is agreed upon once the sum of their 
# sharpe ratios are maxamized by this trade

# INITIALIZE PORTFOLIO FUNCTION
# needs a dicitonary of all portfIDs and their portfolios

aopt = [-3,-2,-1,-2,-5,-1,-1,-1,-1,-3] 
a = portfolio('a',10)
#a.orders = np.asarray(aopt) - list(a.weights.values())
alist = a.order(1, aopt)

bopt = [3,4,5,6,7,8,2,0]
b = portfolio("b",8)
#b.orders = np.asarray(bopt) - list(b.weights.values())
blist = b.order(1, bopt)


copt = [3,4,5,6,7,8,2,0]
c = portfolio("c",8)
#c.orders = np.asarray(copt) - list(c.weights.values())
clist = c.order(1, copt)


dopt = [-3,-4,-5,6,-7,8,2,-2]
d = portfolio("d",8)
#d.orders = np.asarray(dopt) - list(d.weights.values())
dlist = d.order(2, dopt)

traderIDs = {'a':a,'b':b,'c':c,'d':d}

In [833]:
broker = pd.concat([alist,blist,clist,dlist])
broker = broker[broker.order!=0] # remove all null orders 
potMatch = broker[broker.groupby('stock').stock.transform(len) > 1] # removes all single orders
notMatch = broker[broker.groupby('stock').stock.transform(len) == 1]

In [834]:
traderIDs

{'a': <__main__.portfolio at 0x1021860668>,
 'b': <__main__.portfolio at 0x10218765f8>,
 'c': <__main__.portfolio at 0x10218396a0>,
 'd': <__main__.portfolio at 0x1021839710>}

In [835]:
orderList = pd.DataFrame()

for stock in (potMatch.stock.unique()): 
    # go through each stock and try to fill orders
    stockSearch = (potMatch[potMatch.stock == stock])
    buy = stockSearch[stockSearch.order > 0]
    sell = stockSearch[stockSearch.order < 0]
    if len(buy) == 0:
        notMatch = pd.concat([notMatch,sell])
    elif len(sell) == 0:
        notMatch = pd.concat([notMatch,buy])
    else:
        buy = buy.sort_values(by=["time",'order'],ascending=[True,False])
        sell = sell.sort_values(by=["time",'order'],ascending=[True,True])

        #print("BUY")
        #print(buy)
        #print("SELL")
        #print(sell)

        while len(buy) != 0 and len(sell) != 0:
            buy.reset_index(inplace=True,drop=True)
            sell.reset_index(inplace=True,drop=True)
            # iterate until no more matches
            sID = 0 # always look at the most important selling order first 
            print(buy)
            print(sell)
            sVol = sell.iloc[sID].order #selling amount

            #else:
            # algorithm that matches s with a b and updates sell and buy rows, take min and subtract until 0
            bMatch = buy.iloc[0]
            bVol = bMatch.order

            Vol = min(abs(sVol),abs(bVol))
            ToS = max(sell.iloc[sID].time, bMatch.time)

            sale = pd.DataFrame({"ToS":[ToS], "stock":stock, "seller": sell.iloc[sID].portfolio, 
                                 "buyer": bMatch.portfolio, "volume": Vol, 
                                 "tradeID": str(ToS)+'|'+str(stock)+str(sell.iloc[sID].portfolio)
                                +str(bMatch.portfolio)+str(-sVol)})

            orderList = pd.concat([orderList,sale])


            sell.set_value(sID, 'order', sell.iloc[sID].order + Vol)
            buy.set_value(0, 'order', bVol - Vol)


            print("sale")

            #update buyer weights
            print(bMatch.portfolio)
            print(traderIDs[bMatch.portfolio])
            buyer = traderIDs[bMatch.portfolio]
            buyer.buy(stock,Vol)


            buy = buy[buy.order!=0]
            sell = sell[sell.order!=0]
            print(buy)
            print(sell)
            print("______________ \n")

        if len(buy)==0:
            notMatch = pd.concat([notMatch,sell])
        else:
            notMatch = pd.concat([notMatch,buy])

   time portfolio  stock  order
0     1         b      8      7
   time portfolio  stock  order
0     1         a      8     -3
sale
b
<__main__.portfolio object at 0x10218765f8>
{16: 12, 3: 0, 2: 18, 0: 0, 8: 18, 5: 30, 10: 6, 1: 0}
{16: 12, 3: 0, 2: 18, 0: 0, 8: 21, 5: 30, 10: 6, 1: 0}
   time portfolio  stock  order
0     1         b      8      4
Empty DataFrame
Columns: [time, portfolio, stock, order]
Index: []
______________

   time portfolio  stock  order
0     1         c     13      2
   time portfolio  stock  order
0     1         a     13     -2
1     2         d     13     -2
sale
c
<__main__.portfolio object at 0x10218396a0>
{16: 9, 15: 15, 14: 22, 3: 0, 17: 0, 10: 27, 13: 11, 18: 0}
{16: 9, 15: 15, 14: 22, 3: 0, 17: 0, 10: 27, 13: 13, 18: 0}
Empty DataFrame
Columns: [time, portfolio, stock, order]
Index: []
   time portfolio  stock  order
1     2         d     13     -2
______________

   time portfolio  stock  order
0     1         c     15      4
   time portfolio  stock  order
0     1         a     15     -1
sale
c
<__main__.portfolio object at 0x10218396a0>
{16: 9, 15: 15, 14: 22, 3: 0, 17: 0, 10: 27, 13: 13, 18: 0}
{16: 9, 15: 16, 14: 22, 3: 0, 17: 0, 10: 27, 13: 13, 18: 0}
   time portfolio  stock  order
0     1         c     15      3
Empty DataFrame
Columns: [time, portfolio, stock, order]
Index: []
______________

   time portfolio  stock  order
0     1         b      5      8
   time portfolio  stock  order
0     1         a      5     -2
sale
b
<__main__.portfolio object at 0x10218765f8>
{16: 12, 3: 0, 2: 18, 0: 0, 8: 21, 5: 30, 10: 6, 1: 0}
{16: 12, 3: 0, 2: 18, 0: 0, 8: 21, 5: 32, 10: 6, 1: 0}
   time portfolio  stock  order
0     1         b      5      6
Empty DataFrame
Columns: [time, portfolio, stock, order]
Index: []
______________

   time portfolio  stock  order
0     1         c     14      5
   time portfolio  stock  order
0     1         a     14     -5
1     2         d     14     -3
sale
c
<__main__.portfolio object at 0x10218396a0>
{16: 9, 15: 16, 14: 22, 3: 0, 17: 0, 10: 27, 13: 13, 18: 0}
{16: 9, 15: 16, 14: 27, 3: 0, 17: 0, 10: 27, 13: 13, 18: 0}
Empty DataFrame
Columns: [time, portfolio, stock, order]
Index: []
   time portfolio  stock  order
1     2         d     14     -3
______________

   time portfolio  stock  order
0     1         b     16      3
1     1         c     16      3
   time portfolio  stock  order
0     1         a     16     -1
sale
b
<__main__.portfolio object at 0x10218765f8>
{16: 12, 3: 0, 2: 18, 0: 0, 8: 21, 5: 32, 10: 6, 1: 0}
{16: 13, 3: 0, 2: 18, 0: 0, 8: 21, 5: 32, 10: 6, 1: 0}
   time portfolio  stock  order
0     1         b     16      2
1     1         c     16      3
Empty DataFrame
Columns: [time, portfolio, stock, order]
Index: []
______________

   time portfolio  stock  order
0     1         c     10      8
1     1         b     10      2
2     2         d     10      6
   time portfolio  stock  order
0     1         a     10     -1
sale
c
<__main__.portfolio object at 0x10218396a0>
{16: 9, 15: 16, 14: 27, 3: 0, 17: 0, 10: 27, 13: 13, 18: 0}
{16: 9, 15: 16, 14: 27, 3: 0, 17: 0, 10: 28, 13: 13, 18: 0}
   time portfolio  stock  order
0     1         c     10      7
1     1         b     10      2
2     2         d     10      6
Empty DataFrame
Columns: [time, portfolio, stock, order]
Index: []
______________

   time portfolio  stock  order
0     1         b      2      5
   time portfolio  stock  order
0     1         a      2     -3
sale
b
<__main__.portfolio object at 0x10218765f8>
{16: 13, 3: 0, 2: 18, 0: 0, 8: 21, 5: 32, 10: 6, 1: 0}
{16: 13, 3: 0, 2: 21, 0: 0, 8: 21, 5: 32, 10: 6, 1: 0}
   time portfolio  stock  order
0     1         b      2      2
Empty DataFrame
Columns: [time, portfolio, stock, order]
Index: []
______________

/Users/braedyn/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:73: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/Users/braedyn/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:74: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [831]:
orderList.sort_values(by='ToS', inplace=True)
orderList.reset_index(inplace=True,drop=True)
orderList

   ToS  stock seller buyer  volume  tradeID
0    1      8      a     b       3   1|8ab3
1    1     13      a     c       2  1|13ac2
2    1     15      a     c       1  1|15ac1
3    1      5      a     b       2   1|5ab2
4    1     14      a     c       5  1|14ac5
5    1     16      a     b       1  1|16ab1
6    1     10      a     c       1  1|10ac1
7    1      2      a     b       3   1|2ab3

In [836]:
emptydat = pd.DataFrame()
edat2 = pd.DataFrameFrame()

In [839]:
emp = pd.concat([emptydat,edat2,notMatch])
emp

   time portfolio  stock  order
6     1         a     18     -1
3     1         b      0      6
1     2         d     11     -4
2     2         d     19     -5
5     2         d      7      8
0     1         b      8      4
1     2         d     13     -2
0     1         c     15      3
0     1         b      5      6
1     2         d     14     -3
0     1         b     16      2
1     1         c     16      3
0     1         c     10      7
1     1         b     10      2
2     2         d     10      6
8     1         a     12     -1
4     2         d     12     -7
0     1         b      2      2
1     1         b      3      4
3     1         c      3      6
4     1         c     17      7
6     2         d     17      2

In [840]:
notMatch

   time portfolio  stock  order
6     1         a     18     -1
3     1         b      0      6
1     2         d     11     -4
2     2         d     19     -5
5     2         d      7      8
0     1         b      8      4
1     2         d     13     -2
0     1         c     15      3
0     1         b      5      6
1     2         d     14     -3
0     1         b     16      2
1     1         c     16      3
0     1         c     10      7
1     1         b     10      2
2     2         d     10      6
8     1         a     12     -1
4     2         d     12     -7
0     1         b      2      2
1     1         b      3      4
3     1         c      3      6
4     1         c     17      7
6     2         d     17      2

In [812]:
traderIDs

{'a': <__main__.portfolio at 0x10218394a8>,
 'b': 8,
 'c': <__main__.portfolio at 0x10212ff0b8>,
 'd': <__main__.portfolio at 0x1021011a90>}

In [778]:
buyer.weights

{15: 3, 8: 4, 1: 5, 10: 6, 13: 7, 14: 8, 17: 2, 7: 0}

'c'

In [ ]:
 #if -sVol in buy.order.values:
                # see if there is a matching order to easily fill right away??
            #    bMatch = buy[buy.order.isin([-sVol])].iloc[0]
                #print(buy[buy.order.isin([-s])].index[0])

            #    ToS = max(sell.iloc[sID].time, bMatch.time)

            #    sale = pd.DataFrame({"ToS":[ToS], "stock":stock, "seller": sell.iloc[sID].portfolio, 
            #                         "buyer": bMatch.portfolio, "volume": -sVol, 
            #                         "tradeID": str(ToS)+'|'+str(stock)+str(sell.iloc[sID].portfolio)
            #                        +str(bMatch.portfolio)+str(-sVol)})

            #    orderList = pd.concat([orderList,sale])


            #    sell.set_value(sID, 'order', sell.iloc[sID].order - sVol)
            #    print(sell)
            #    buy.set_value(buy[buy.order.isin([-sVol])].index[0], 'order', bMatch.order + sVol)

            #    print(buy)

            #    print("sale made")
                #update buyer weights
            #    print(bMatch.portfolio)
            #    print(traderIDs[bMatch.portfolio])
            #    buyer = traderIDs[bMatch.portfolio]
            #    buyer.buy(stock,-sVol)